# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*List popular languages for Data Science:*
* Python
* R
* Tableau
* SQL
* Excel

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Tableau
4. SQL
5. Excel

Some of the commonly used libraries used by Data Scientists include:

* scikit-learn
* TensorFlow
* Scrapy
* Pandas and Numpy

| Data Science Tools |
| ------------------ |
| RStudio |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
a = 200/60
print(a,'Hours')

3.3333333333333335 Hours

## Author

RUSHABH DHOKE